image: python:3.8

stages:
  - test

test:
  stage: test
  script:
    - make install_test
    - make coverage
    - bash <(curl -s https://codecov.io/bash)
  artifacts:
    reports:
      cobertura: coverage.xml

include:
  - template: Code-Quality.gitlab-ci.yml
