image: python:3.8

stages:
  - test

test:
  stage: test
  script:
    - make install
    - coverage run -m pytest && coverage report && coverage xml
  artifacts:
    reports:
      cobertura: coverage.xml
